<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="main" class="well text-center"> 
  
<p> <em>Select Date Here: </em><input type="text" id="datepicker" v-model="date"></p>
  <p>You picked the date: {{ date }}</p>
  </div>
    <div class="text-center">
    <p>see more of my pens <a href="https://codepen.io/waracci/#" target="blank">in my profile</a></p>
    </div>
    </div>
  </div>

  
 
 
</body>